include LICENSE
include README.md
recursive-include eq_django_admin_row_actions/static *
recursive-include eq_django_admin_row_actions/templates *
recursive-include eq_django_admin_row_actions/locale *
